@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
  padding: 0;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div[class$=__container] {
  max-width: 1055px;
  padding: 0px 15px;
  margin: 0 auto;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__menu {
  padding: 50px 35px;
}

.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__item a {
  font-family: "Segoe WP";
  font-size: 22px;
  font-weight: 300;
  line-height: auto;
  letter-spacing: 0px;
  text-align: center;
  color: #fff;
}
.menu__item a:hover {
  text-decoration: underline;
}

.menu__closeicon,
.menu__openicon {
  display: none;
}
.menu__closeicon svg,
.menu__openicon svg {
  width: 40px;
  height: 40px;
  fill: #fff;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main__titlepage {
  background: url(../images/titlepage/bg.jpg) 0 0/cover no-repeat fixed;
  padding-top: 120px;
}

.titlepage__container {
  position: relative;
  top: 0;
  left: 0;
}

.label {
  font-family: "Mrs Eaves OT";
  font-size: 118px;
  font-style: italic;
  font-weight: 400;
  line-height: calc(33/118*100%);
  letter-spacing: 0px;
  text-align: left;
  color: #BDC2C4;
}

.main__titlepage .label {
  position: absolute;
  top: -30px;
  left: 80px;
}

.titlepage__arrow:nth-child(2) {
  position: absolute;
  top: 45%;
  left: -75px;
  cursor: pointer;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}
.titlepage__arrow:nth-child(2) svg {
  width: 50px;
  height: 50px;
  fill: #797D7D;
}
.titlepage__arrow:nth-child(2) svg:hover {
  fill: #216645;
}

.titlepage__arrow:nth-last-child(1) {
  position: absolute;
  top: 45%;
  right: -75px;
  cursor: pointer;
}
.titlepage__arrow:nth-last-child(1) svg {
  width: 50px;
  height: 50px;
  fill: #797D7D;
}
.titlepage__arrow:nth-last-child(1) svg:hover {
  fill: #216645;
}

.titlepage__inner {
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.titlepage__img {
  margin-bottom: -70px;
}

.titlepage__img:not(:last-child) {
  margin-right: 70px;
}

.titlepage__text {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: left;
  margin-bottom: 60px;
}

.titlepage__text h1 {
  font-family: "Segoe Media Center";
  font-size: 64px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0px;
  text-align: left;
  color: #fff;
}

.titlepage__text > p {
  font-family: "Segoe WP";
  font-size: 44px;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: left;
  color: #fff;
  margin-top: -12px;
}

.titlepage__text > a {
  display: block;
  -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.8);
  margin-top: 33px;
  height: 39px;
  padding: 10px 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #216645;
  font-family: "Segoe WP";
  font-size: 21px;
  font-weight: 300;
  line-height: 0%;
  letter-spacing: 0px;
  text-align: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__slider {
  padding-top: 65px;
  min-height: 1200px;
}

.slider__body {
  position: relative;
  top: 0;
  left: 0;
}

.slider__item {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 300px;
}

.slider__item label {
  position: absolute;
  top: 0px;
  z-index: 10;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
  height: 300px;
  border: 1px solid #CDCDCD;
}

.slider__item:nth-child(1) label {
  left: 0;
}

.slider__item:nth-child(2) label {
  left: 25%;
}

.slider__item:nth-child(3) label {
  left: 50%;
}

.slider__item:nth-child(4) label {
  left: 75%;
}

.slider__label {
  width: 53%;
}
.slider__label img {
  width: 100%;
}

.slider__label:not(:last-child) {
  margin-bottom: 17px;
}

.slider__label-text {
  font-family: "Segoe WP";
  font-size: 26px;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: 0px;
  text-align: center;
  color: #5c5b5b;
}

.slider__item input {
  display: none;
}

.slider__content {
  padding: 55px 40px 65px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #CDCDCD;
  border-left: 1px solid #CDCDCD;
  border-right: 1px solid #CDCDCD;
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.slider__item:nth-child(1) .slider__content {
  background-color: aqua;
}

.slider__item:nth-child(3) .slider__content {
  background-color: red;
}

.slider__item:nth-child(4) .slider__content {
  background-color: green;
}

.slider__content img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.slider__title {
  font-family: "Segoe WP";
  font-size: 38px;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: 0.2px;
  text-align: left;
  color: #000;
  margin-bottom: 38px;
}

.slider__text p {
  font-family: "Univers CE 45";
  font-size: 14px;
  font-weight: 400;
  line-height: calc(24/14*100%);
  letter-spacing: 0px;
  text-align: left;
  color: #818181;
}

.slider__text p:not(:last-child) {
  margin-bottom: 33px;
}

.slider__item input:checked + label {
  border-bottom: 0px solid #fff;
}

.slider__item input:checked + label p {
  color: #000;
}

.slider__item input:checked ~ .slider__content {
  opacity: 1;
}

.main__chooseus {
  padding-bottom: 60px;
  padding-top: 40px;
  border-bottom: 1px solid #CDCDCD;
}

.chooseus__inner {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  gap: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chooseus__img img {
  width: 100%;
}

.chooseus__title {
  font-family: "Segoe WP";
  font-size: 32px;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 0px;
  text-align: left;
  color: #4f4f4f;
  margin-bottom: 32px;
}

.chooseus__listitem {
  font-family: "Univers CE 45";
  font-size: 16px;
  font-weight: 300;
  line-height: calc(22/16*100%);
  letter-spacing: 0px;
  text-align: left;
  color: #8a8888;
  padding-left: 32px;
  position: relative;
  top: 0;
  left: 0;
}
.chooseus__listitem::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: url(../images/chooseus/listicon.png) 0 0/cover no-repeat;
  position: absolute;
  top: 2px;
  left: 6px;
}

.chooseus__listitem:not(:last-child) {
  margin-bottom: 16px;
}

.main__connection {
  padding: 25px 0px;
}

.connection__container {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  row-gap: 20px;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.connection__form-wrapper {
  padding: 12px 12px 18px 25px;
  border-radius: 6px;
}

.connection__form-wrapper:nth-child(1) {
  background-color: #E67624;
}

.connection__form-wrapper:nth-child(2) {
  background-color: #01D4F3;
}

.connection__form-wrapper h2 {
  font-family: "Segoe WP";
  font-size: 28px;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: left;
  color: #fff;
  margin-bottom: 24px;
}

.connection__form-wrapper:nth-child(1) form {
  display: -ms-grid;
  display: grid;
  gap: 13px;
  grid-auto-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.connection__form-wrapper:nth-child(2) form {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 47px;
     -moz-column-gap: 47px;
          column-gap: 47px;
  row-gap: 13px;
  grid-auto-flow: column;
  -ms-grid-columns: 2.4fr 47px 1fr;
  grid-template-columns: 2.4fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.connection__form-wrapper form input {
  height: 26px;
  padding: 0 10px;
  background-color: #E8E8E8;
  font-family: "Segoe WP";
  font-size: 16px;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0px;
  color: #000;
}

.connection__form-wrapper form button {
  font-family: "Segoe WP";
  font-size: 16px;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  color: #fff;
  height: 29px;
}

.connection__form-wrapper:nth-child(1) form button {
  padding: 0px 10px;
  background-color: #444444;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  white-space: nowrap;
}
.connection__form-wrapper:nth-child(1) form button:hover {
  background-color: #2B7551;
}

.connection__form-wrapper:nth-child(2) form button {
  padding: 0px 10px;
  background-color: #029BB1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  white-space: nowrap;
}
.connection__form-wrapper:nth-child(2) form button:hover {
  background-color: #2B7551;
}

.footer {
  padding: 35px 0px 50px 0px;
  background: url(../images/footer/bg.png) repeat;
}

.footer__container {
  padding-left: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1.56fr;
  grid-template-columns: 1fr 1.56fr;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 50px;
}

.footer__lists {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}

.footer__list-title,
.footer__text-title {
  font-family: "Segoe WP";
  font-size: 22px;
  font-weight: 300;
  line-height: calc(33/22*100%);
  letter-spacing: 0px;
  text-align: left;
  color: #fff;
  white-space: nowrap;
  margin-bottom: 15px;
}

.footer__list-item a,
.footer__slider-content > p {
  font-family: "Arial";
  font-size: 13px;
  font-weight: 400;
  line-height: calc(22/13*100%);
  letter-spacing: 0px;
  text-align: left;
  color: #fff;
}

.footer__list-item a:hover {
  text-decoration: underline;
}

.footer__textwlabel {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.footer__slider-wrapper {
  position: relative;
  top: 0;
  left: 0;
  max-width: 325px;
}

.footer__text-slider-item:nth-child(1),
.footer__text-slider-item:nth-child(3) {
  display: none;
}

.footer__slider-button {
  position: absolute;
  top: 8px;
  display: block;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #555258;
}
.footer__slider-button:hover {
  background-color: #E67624;
}

.footer__slider-button:nth-last-child(2) {
  right: 110px;
}
.footer__slider-button:nth-last-child(2)::before {
  content: "";
  z-index: 2;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: rotate(135deg) translateY(50%);
          transform: rotate(135deg) translateY(50%);
  display: block;
  width: 6px;
  height: 6px;
  border-bottom: 2px solid #2A242F;
  border-right: 2px solid #2A242F;
}

.footer__slider-button:nth-last-child(1) {
  right: 80px;
}
.footer__slider-button:nth-last-child(1)::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 35%;
  z-index: 2;
  -webkit-transform: rotate(-45deg) translateY(-40%);
          transform: rotate(-45deg) translateY(-40%);
  display: block;
  width: 6px;
  height: 6px;
  border-bottom: 2px solid #2A242F;
  border-right: 2px solid #2A242F;
}

.footer__label {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  row-gap: 50px;
  -ms-flex-line-pack: end;
      align-content: end;
}

.copyright {
  font-family: "Arial";
  font-size: 13px;
  font-weight: 400;
  line-height: calc(22/13*100%);
  letter-spacing: 0px;
  text-align: left;
  color: #fff;
}

@media (max-width: 700px) {
  .menu__items {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    -webkit-transform: translateX(120%);
            transform: translateX(120%);
    opacity: 0;
    background-color: #605A5B;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: auto;
    padding: 35px;
    width: 70vw;
    height: 70vw;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  .menu__item:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 40px;
  }

  .menu__openicon {
    display: block;
    position: relative;
    z-index: 1;
  }

  .header__menu:target .menu__items {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }

  .header__menu:target .menu__openicon {
    display: none;
  }

  .header__menu:target .menu__closeicon {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 5;
  }
}
@media (max-width: 570px) {
  .menu__items {
    width: 100vw;
    height: 100vh;
    border-radius: 0px;
  }
}
@media (max-width: 1250px) {
  .titlepage__arrow:nth-child(2) {
    position: absolute;
    top: 45%;
    left: 15px;
  }

  .titlepage__arrow:nth-last-child(1) {
    position: absolute;
    top: 45%;
    right: 15px;
  }
}
@media (max-width: 930px) {
  .titlepage__inner {
    padding-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .titlepage__img:not(:last-child) {
    margin-right: 0px;
  }

  .main__titlepage .label {
    position: absolute;
    top: -10px;
    left: 20px;
    font-size: 90px;
  }
}
@media (max-width: 520px) {
  .titlepage__arrow:nth-child(2) {
    position: absolute;
    top: 75%;
    left: 15px;
  }

  .titlepage__arrow:nth-last-child(1) {
    position: absolute;
    top: 75%;
    right: 15px;
  }

  .titlepage__img {
    margin-bottom: -70px;
    width: 55%;
  }
  .titlepage__img img {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .titlepage__text h1 {
    font-size: 45px;
  }

  .titlepage__text > p {
    font-family: "Segoe WP";
    font-size: 29px;
    font-weight: 300;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: left;
    color: #fff;
    margin-top: -12px;
  }
}
@media (max-width: 820px) {
  .slider__content img {
    width: 90%;
  }
}
@media (max-width: 670px) {
  .slider__item {
    position: static;
    padding-top: 0px;
  }

  .slider__item label {
    position: static;
    width: 100%;
    height: 250px;
    border: 0px solid #CDCDCD;
    cursor: copy;
  }

  .slider__label {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .slider__label img {
    width: auto;
  }

  .slider__content {
    opacity: 1;
  }

  .slider__item:not(:last-child) {
    margin-bottom: 20px;
  }

  .main__slider {
    margin-top: 40px;
  }

  .slider__content {
    border: 1px solid #CDCDCD;
  }
}
@media (max-width: 769px) {
  .chooseus__inner {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: row;
    gap: 45px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 950px) {
  .connection__container {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: -webkit-max-content;
    grid-auto-rows: max-content;
  }
}
@media (max-width: 590px) {
  .connection__form-wrapper:nth-child(1) form,
.connection__form-wrapper:nth-child(2) form {
    display: -ms-grid;
    display: grid;
    gap: 15px;
    grid-auto-flow: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .connection__form-wrapper:nth-child(1) form button,
.connection__form-wrapper:nth-child(2) form button {
    -ms-grid-column-align: start;
        justify-self: start;
    padding: 0px 25px;
  }
}
@media (max-width: 960px) {
  .footer__container {
    padding-left: 25px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
    row-gap: 50px;
  }

  .footer__lists {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-column-gap: 60px;
       -moz-column-gap: 60px;
            column-gap: 60px;
  }

  .footer__textwlabel {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}
@media (max-width: 600px) {
  .footer__textwlabel {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: row;
    row-gap: 55px;
  }
}